body{
	background-color: lightgrey;
}

h1{
	color: green;
	font-size: 90px;
	text-decoration: underline;
	text-align: center;
}

h2{
	color: grey;
	font-size: 25px;
	text-align: center;

}

.small{
	font-size: 12px;
}
  
#first{
	font-size: 150px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}